# Ignore Visual Studio temporary files
.vs/
*.user
*.suo
*.cache

# Build output
bin/
obj/

# NuGet packages
packages/
*.nupkg

# Logs
*.log

# Visual Studio cache files
*.VC.db
*.VC.VC.opendb

# User-specific files
*.userosscache
*.userprefs
*.csproj.user

# JetBrains Rider
.idea/
*.DotSettings.user

# Other
_ReSharper*/
/src/NPE.Infrastructure.zip
/src/NPE.API.zip
/src/NPE.Core.zip
